<style>
	
    .select_button {
        margin:auto;
        text-align:center;
        justify-content:center;
        border: 5px solid;
        border-radius:5px;
        border-color:#9a613b;
        width:120px;
        height:60px;
        background-color:#ccac00;
        font-size:17px;
        font-family:serif;
    }

    .cancel {
        background-color: white;
        position: fixed;
        top: 15px;
        right: 20px;
        border: none;
        font-weight: bold;
    }

    .cancel:hover {
        color:rgb(4, 4, 43);
    }    
</style>

<body>
<form id="bjinstruct">
    <h3><label class="select_button">Black Jack Instructions</label></h3>
    <p>test</p>
    <button type="button" class="cancel" onclick="closeInstruct()">x</button>
</form>
</body>

<script>
    function openInstruct() {
        document.getElementById("bjinstruct").style.display = "block";
    }
    function closeInstruct() {
        document.getElementById("bjinstruct").style.display = "none";
    }
    window.onclick = function (event) {
        let modal = document.getElementById('instructPopup');
        if (event.target == modal) {
    closeInstruct();
        }
    }

</script>