<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/frontend/overview">Overview</a></td>
        <td><a href="{{site.baseurl}}/techtalk/javascript">Tutorial</a></td>
        <td><a href="{{site.baseurl}}/frontend/calculator">Calculator</a></td>
        <td><a href="{{site.baseurl}}/frontend/binary">Binary</a></td>
        <td><a href="{{site.baseurl}}/frontend/grades">Grades</a></td>
        <td><a href="{{site.baseurl}}/frontend/graph">Graph</a></td>
        <td><a href="{{site.baseurl}}/frontend/life">Life</a></td>
        <td><a href="{{site.baseurl}}/frontend/snake">Snake</a></td>
    </tr>
</table>